---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import favIcon from "../assets/1.png";
import "../assets/style.css";
import {Toaster, toast } from "sonner";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="Naidaly Ruiz Porfolio" />
    <meta property="og:image" content="/public/porfolio.png" />
    <meta
      property="og:description"
      content="Full stack web developer personal portfolio "
    />
    <meta property="og:url" content="https://naidalyruiz.netlify.app/" />

    <link rel="icon" type="image/png" href={favIcon.src} class="rounded-md" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../assets/style.css" />

    <!-- email -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>

    <script type="text/javascript">
      emailjs.init("MqtwfnlRxU8xUALf2");
    </script>

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-black text-white h-screen w-screen">
    <slot />

    <Toaster client:load/>
    <script src="../assets/index.js"></script>
  </body>
</html>
