---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import favIcon from "../assets/1.png";
import "../assets/style.css"
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="/public/porfolio.png">
    <link rel="icon" type="image/png" href={favIcon.src} class="rounded-md"/>
    <meta name="generator" content={Astro.generator} />
	<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="../assets/style.css">

  <!-- email -->
  <script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('MqtwfnlRxU8xUALf2')
</script>

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-black text-white h-screen w-screen">
    <slot />
    <script src="../assets/index.js"></script>
  </body>
</html>
